*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol{
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-size: 100%;
  line-height: 1.5;
}